.step-booking-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color:black;
    background-image: url('../assets/loginBg.jpg');
      background-repeat: no-repeat;
      background-size: cover;
}
.booking-steps{
    width: 70vw;
}
.booking-steps-title{
    margin-top: -5px;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 10px rgb(255, 0, 0),
    0 0 20px rgb(255, 0, 0),
    0 0 40px rgb(255, 0, 0),
    0 0 80px rgb(230, 0, 0),
    0 0 120px rgb(255, 0, 0),
    0 0 110px rgb(255, 0, 0);
}


.customer-form{
    height: 55vh;
    width: 400px;
    margin-top: 30px;
    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 1.2em 2.5em ;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.customer-form > h3{
    margin: 0;
    font-size: 1.3em;
    font-weight: bolder;
    line-height: 1em;
    text-align: center;
}
#age{
    width: 100px;
}
.customer-form > label,.customer-form>div>div>label {
    display: block;
    margin-top: 10px;
    font-size: 2.2vh;
    font-weight: bold;
}
#gender-title{
    display: block;
    margin-top: 10px;
    font-size: 2.2vh;
    font-weight: bold;
}
.customer-form > input,.customer-form>div>div>input{
    display: block;
    height: 6vh;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 10px;
    font-size: 2vh;
    font-weight: 300;
}
.button-next, .button-prev{
	font-size: 1.3em;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	color: white;
	border: #BC0001 4px solid;
	padding: 0.25em 1em;
	border-radius: 0.25em;
    background-color: transparent;
    margin: 30px;
	box-shadow: inset 0 0 0.5em 0 #BC0001, 0 0 0.5em 0 #BC0001;

	position: relative;
}
.button-prev{
    color: red;
    border: white 4px solid;
    box-shadow: inset 0 0 0.5em 0 white, 0 0 0.5em 0 white;
}
.button-next::before, .button-prev::before {
	pointer-events: none;
	content: "";
	position: absolute;
	background: #BC0001;
	top: 120%;
	left: 0;
	width: 100%;
	height: 100%;

	transform: perspective(1.2em) rotateX(40deg) scale(1.5, 0.5);
	filter: blur(1.15em);
	opacity: 0.7;

	transition: transform 0.5s linear;
}
.button-prev::before{background-color: white;}
.button-next::after, .button-prev::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: 0 0 4em 0.6em #BC0001, 0 0 1em 0.2em rgba(255, 255, 255, 1);
	opacity: 0;
	background: #BC0001;
	z-index: -1;
	transition: opacity 0.5s linear;
}
.button-prev::after{
    background-color: white;
    
	box-shadow: 0 0 4em 0.6em white, 0 0 1em 0.2em #BC0001;
}
.button-next:hover,
.button-prev:hover{
	color:  white;
	text-shadow: none;
    /* border: none; */
    border: #BC0001 4px solid;
    background-color: #BC0001;
	text-shadow: 0 0 0.125em rgba(255, 255, 255, 0.55), 0 0 0.5em currentColor;
}
.button-prev:hover{
	color:  #BC0001;
    border: white 4px solid;
    background-color: white;
	
}
.button-next:hover::before,
.button-prev:hover::before{
	opacity: 1;
	transform: perspective(1em) rotateX(40deg) scale(1.5, 0.6);
	transition: transform 0.5s linear;
}

.button-next:hover::after,
::after,.button-prev:hover::after {
	opacity: 1;
}

::placeholder{
    color: #e5e5e5d8;
}